// strat centering image
@mixin center-image {
  width: auto;
  height: 100%;
  display: block;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

@mixin centerImage($centerImage) {
  @if($centerImage){
    @include center-image;
  } @else {
    width: 100%;
  }
}

// variables
$desktopHD: 'screen and (min-width: 1440px)';
$desktop: 'screen and (min-width: 801px) and (max-width: 1280px)';
$desktopGeneral: 'screen and (min-width: 800px)';
$mobileGeneral: 'screen and (max-width: 800px)';
$mobile7inch: 'screen and (min-width: 600px) and (max-width: 800px)';
$mobile6inch: 'screen and (min-width: 376px) and (max-width: 599px)';
$mobile5inch: 'screen and (max-width: 375px)';


// begin menu
nav {
  box-sizing: border-box;
  list-style: none;
}

$menuSize: '6px'; // menu size
$menuPositionX: '20px'; // position horizontal
$menuPositionY: '10px'; // position vertical
$menuFont: 'Arial', Sans-Serif; // font menu
$menuBurgerColor: #fff; // hamburger color
$menuFontColor: #fff; // color font menu, no need quote
$menuBackground: rgba(0,0,0,1); // background menu
$submenuPositionY: 48px;

#amp {
  appearance: none;
  background: none;
  border: none;
  position: absolute;
  z-index: 4;
  &:focus {
    outline: none;
    color: #fff;
  }

  &.amp-menu {
    width: 32px;
    height: 32px;
    top: 8px;
    right: 12px;
    &:checked {
      & ~ .menu,
      & ~ .menu > * {
        opacity: 1;
        visibility: visible;
        transform: translate3d(0, 0, 0);
        transition: all 0.8s ease-out;
      }

      & + .menu-mobile > * {
        width: 0;
        -webkit-transition: width 0.5s ease-out;
        transition: width 0.5s ease-out;
      }

      & + .menu-mobile:before,
      & + .menu-mobile:after {
        transform-origin: 50%;
        transition: all 0.5s ease-in;
        background: colorContrast(black); 
      }

      & + .menu-mobile:before {
        transform: rotate(45deg) translate(calc(6px - 2px), 6px);
      }

      & + .menu-mobile:after {
        transform: rotate(-45deg) translate(-6px, calc(6px - 2px));
      }
    }
  }

  &.amp-sub-menu {
    width: 50%;
    height: 20px;
    position: absolute;
    left: 0;
    appearance: none;
    &:checked {
      & + ul {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        opacity: 1;
        visibility: visible;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        & .sub-menu-container {
          opacity: 1;
          display: block;
          visibility: visible;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.menu-mobile {
  @media #{$desktopGeneral} {
    display: none;
  }

  @media #{$mobileGeneral} {
    display:block;
    text-align: center;
    width: calc(#{$menuSize} * 4);
    height: calc(#{$menuSize} * 2.6);
    right: #{$menuPositionX}; /* change placement menu button on left or right */
    // top: #{$menuPositionY};
    position: absolute;
    z-index: 3;
  }

  &:before,
  &:after {
    content: '';
    display: block;
    background: $menuBurgerColor;
		position: absolute;
		margin: auto;
		width: 100%;
    height: 1px;
    transition: all 1s ease;
  }

  &:before {
		transform: translate(0, 0);
  }

  &:after {
		transform: translate(0, calc(#{$menuSize} * 2.2));
  }

  & > * {
    height: 1px;
    background: $menuBurgerColor;
    width: 100%;
    display: block;
    transform: translate3d(0, calc(#{$menuSize} * 1.2),0);
    transition: width 0.5s ease-out;
  }

  &.close {
    &:before,
    &:after {
      transition: all 0.5s ease-in;
      background: colorContrast($menuBackground);
    }

    &:before {
      transform: rotate(45deg) translate(calc(#{$menuSize} - 2px), #{$menuSize});
      transform-origin: 50%;
    }

    &:after {
      transform: rotate(-45deg) translate(-#{$menuSize}, calc(#{$menuSize} - 2px));
      transform-origin: 50%;
    }

    & > * {
      width: 0;
      transition: width 0.5s ease-out;
    }
  }
}

.menu {
  @media #{$desktopGeneral} {
    position: relative;
    text-align: right;
    width: 100%;
    z-index: 2;
  }
  @media #{$mobileGeneral} {
    height: 100vh;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    visibility: hidden;
    z-index: 2;
    transform: translate3d(100%, 0, 0);
    transition: all 0.8s ease-out;
    background: $menuBackground;
    & > * {
      opacity: 0;
      // height: 100vh;
      // visibility: hidden;
      transform: translate3d(0,0,0);
      transition: all 0.8s ease-out;
    }
    &.active {
      visibility: visible;
      width: 100%;
      transition: all 0.8s ease-out;
      & * {
        opacity: 1;
        transform: translate3d(0,0,0);
        transition: all 0.3s ease;
      }
    }
  }

  & > * {
    @media #{$desktopGeneral} {
      display: inline-block
    }
    @media #{$mobileGeneral} {
      display: block;
      &:first-child {
        & > * {
          margin-top: 0; // reset space for first child
          padding-top: calc(#{$menuSize} * 8); // give extra padding to top for first child
        }
      }
    }
    & > * {
      font-family: $menuFont;
      @media #{$desktopGeneral} {
        display: flex;
        align-items: center;
      }
      @media #{$mobileGeneral} {
        font-size: 100%;
        margin: calc(#{$menuSize} * 4) 0;
      }
    }
  }

  .sub {
    position: relative;
    & > a:before,
    & > a:after {
      content: '';
    }

    & > a:before {
      position: absolute;
      left: 50%;
      top: 30px;
      text-align: center;
      margin: 0 auto;
      transform: translate3d(-50%, -50%, 0);
      opacity: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 15px 15px 15px;
      border-color: transparent transparent #ffffff transparent;
      line-height: 0px;
      _border-color: #000000 #000000 #ffffff #000000;
      _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
      @media #{$mobileGeneral}{
        display: none;
      }
    }

    & > a:after {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
      width: 8px;
      height: 20px;
      background-size: 8px 10px;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      right: 4px;
      top: 0;
      transform: rotate(90deg);
      transform-origin: center;
      transition: transform 0.2s ease;
    }

    // @media #{$desktopGeneral}{
      &.active > a:before,
      &.active > ul,
      &:hover a:before,
      &:hover ul {
        opacity: 1;
        visibility: visible;
        transition: all 0.3s ease;
      }
    // }

    & > ul,
    .amp-sub-menu + ul {
      // display: none;
      overflow: hidden;
      transition: opacity 0.3s ease;
      list-style-type: none;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // background: $menuFontColor;
      padding: 0; // reset any padding affected that causes extra scroll horizontally
      margin: 0;
      visibility: hidden;
      z-index: -1;
      @media #{$desktopGeneral}{
        position: fixed;
        // transform: translate3d(0, #{$submenuPositionY}, 0);
      }
      @media #{$mobileGeneral}{
        display: none;
        position: absolute;
        background: none;
        padding: 0;
        opacity: 0;
        transform: all 0.3s ease;
      }
      & li {
        text-align: left;
        @media #{$desktopGeneral}{
          padding-top: calc(#{$menuSize} * 4);
          padding-bottom: calc(#{$menuSize} * 4);
        }
        @media #{$mobileGeneral}{
          margin: calc(6px * 4) 0 0;
          padding-top: calc(#{$menuSize} * 0.2);
          padding-bottom: calc(#{$menuSize} * 0.2);
        }
        & a {
          color: #000;
          @media #{$mobileGeneral}{
            color: $menuFontColor;
          }
        }
      }
      & > li {
        margin: 0.5em 0;
      }
    }

    &.active > a:after {
      transform: rotate(-90deg);
      transform-origin: center;
      transition: transform 0.2s ease;
    }

    &.active > ul {
      @media #{$mobileGeneral}{
        position: relative;
        width: 100%;
        height: 100%;
        opacity: 1;
        visibility: visible;
        // transform: translate3d(16px, 0, 0);
        transform: all 0.3s ease;
      }
    }

    &.active .sub-menu-container,
    &:hover .sub-menu-container {
      display: block;
      visibility: visible;
    }

    .sub-menu-container {
      display: none;
      width: 100%;
      height: 100%;
      visibility: hidden;
      @media #{$desktopGeneral}{
        background: rgba(255, 255, 255, 1);
        position: absolute;
        left: 0;
        top: $submenuPositionY;
      }

      @media #{$mobileGeneral}{
        // transform: translate3d(32px, -10px, 0);
        margin-left: 32px;
      }
      & > .wrapper {
        display: flex;
        position: relative;
        height: 100%;
        @media #{$desktopGeneral}{
          flex-direction: row;
        }
        @media #{$mobileGeneral}{
          flex-direction: column;
        }
        & > * {
          position: relative;
          &:nth-child(1) {
            @media #{$desktopGeneral}{
              flex-basis: 25%;
              box-shadow: 10px 0 20px -18px;
            }
          }
          &:nth-child(2) {
            @media #{$desktopGeneral}{
              flex-basis: 75%;
            }
            @media #{$mobileGeneral}{
              height: 260px;
              overflow: scroll;
            }
            & > .wrapper {
              position: relative;
              & .tab-content {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                visibility: hidden;
                &.active {
                  opacity: 1;
                  visibility: visible;
                }
                & > .wrapper {
                  display: flex;
                  flex-direction:row;
                  @media #{$desktopGeneral}{
                    padding: 0 2em;
                  }
                  & li {
                    flex-basis: 33.3%;
                    @media #{$mobileGeneral}{
                      &:last-child {
                        padding-right: 2em;
                      }
                    }
                    & > a {
                      &.thumbnail {
                        background: #fff;
                        border: 0.8px solid #fff;
                        border-radius: 8px;
                        flex-shrink: 0;
                        overflow: hidden;
                        margin-right: 1em;
                        @media #{$desktopGeneral}{
                          width: 200px;
                          height: 200px;
                        }
                        @media #{$mobileGeneral}{
                          width: 160px;
                          height: 160px;
                          margin-left: 1em;
                        }
                        & img {
                          width: 100%;
                        }
                      }
                    }
                    & > h1 {
                      font-size: 1em;
                      font-weight: 300;
                      line-height: 1.250em;
                      @media #{$mobileGeneral}{
                        padding-right: 1em;
                        overflow: hidden; 
                        flex-basis: 65%;
                        word-break: break-word;
                      }
                      @media #{$mobile5inch}{
                        font-size: 0.844em;
                      }
                      & a {
                        color: #000;
                        text-decoration: none;
                        @media #{$mobileGeneral}{
                          color: #fff;
                        }
                      }
                    }
                  } 
                }
              }
            }
          }
          @media #{$mobileGeneral}{
            flex-direction: column;
          }
        }
      }
    }
  }

  // space for items
  // & > * > *,
  // .sub > *:not(a) > * {
  //   padding: 0 calc(#{$menuSize} * 4);
  // }
  & > * > *,
  .sub li:not(a) > * {
    padding: 0 calc(#{$menuSize} * 4);
  }

  & a {
    color: $menuFontColor;
    display: inline-block;
    position: relative;
    text-decoration: none;
  }
}
// end menu